<!DOCTYPE html>
<html lang="pl">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <meta charset="UTF-8">
    <title>Wnioskodator - Zmiana hasła</title>
</head>
<body id="login-body">

<h1 class="login-header">Wnioskodator</h1>
<h6 class="login-expired">Twoje hasło wygasło. Musisz wygenerować nowe hasło.</h6>

<div class="login-form">
    <form action="/changepassword/" class="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="oldpassword">Stare hasło</label>
            <input class="form-control" name="oldpassword" id="oldpassword" type="password" placeholder="Stare hasło">
        </div>
        <div class="form-group">
            <label for="newpassword">Nowe hasło</label>
            <input class="form-control" name="newpassword" id="newpassword" type="password" placeholder="Nowe hasło">
        </div>
        <div class="form-group">
            <label for="repeatnewpassword">Powtórz nowe hasło</label>
            <input class="form-control" name="repeatnewpassword" id="repeatnewpassword" type="password"
                   placeholder="Powtórz nowe hasło">
        </div>

        <input type="submit" class="btn btn-default btn-change" value="Dalej">
    </form>
    <br>
    <form action="/logout/" class="" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-default btn-change" value="Wyloguj">
    </form>
</div>

<div class="login-msg">
    {{ msg }}
</div>

</body>
</html>