<!DOCTYPE html>
<html lang="pl">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">

    <meta charset="UTF-8">
    <title>Wnioskodator - Login</title>
    <style>
        body {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<h1>Wnioskodator</h1>

<form action="/login/" class="pure-form" method="post">
    {% csrf_token %}
    <input name="username" id="username" type="text" placeholder="Login">
    <br><br>
    <input name="password" id="password" type="password" placeholder="Hasło">
    <br><br>
    <input type="submit" class="pure-button" value="Login">
</form>
<br>

<div>
    {{ msg }}
</div>

</body>
</html>